/* :root {
  --light-blue: #04c3ff;
  --light-blue-shadow: rgb(69 211 255 / 27%);
  --sea-green: #0abead;
  --sea-green-dark: #0cbfae;
  --sea-green-extra-dark: #09bead;
  --sea-green-shadow: rgba(11, 190, 173, 0.4);
  --header-hamburger-background: rgba(11, 190, 173, 0.8);
  --orange: #f57f17;
  --dark-orange: #ff5823;
  --orange-shadow: rgba(245, 127, 23, 0.2);
  --white: #ffffff;
  --black: #333333;
  --disabled-btn: #09bead7a;
  --error-message: #e44f4fd1;
  --toast-error: #e44f4ffa;
  --toast-shadow: #9c9c9ce3;
  --toast-success: #0cbfae;
  --loader-color: #0cbfae;
} */
.App {
  /*width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;*/
  background: rgb(65, 43, 179);
  background: linear-gradient(
    0deg,
    rgba(65, 43, 179, 1) 0%,
    rgba(242, 248, 249, 1) 93%
  );
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.card {
  width: auto;
  height: 200px;
  background: rgb(235, 236, 243);
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid;
  padding: 100px;
  box-shadow: 0px 0px 10px #888888;
}
